  <section class="row">
    <% User.find_by(@leader_id).followed_id do |follower|
      panel_colours = ["panel-blue", "panel-yellow", "panel-red", "panel-green", "panel-purple"].sample
      %>
      <div class="<%= panel_colours %>">
        <div class="panel-heading">
          <p><%= follower.username %> says &ldquo;Today be like...&rdquo;</p>
        </div>
        <div class="panel-body">
          <p><%= follower.posts.last.content %></p>
        </div>
      </div>
    <% end %>
  </section>
