<div class="container">
  <section class="row">
    <% @unfollowed_users_posts.sample(5).each do |post|
      require 'faker'
      %>
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-1 gravatar">
          <img src="<%= Faker::Avatar.image %>" />
              <form action="/users/<%= post.user_id %>" method= "post">
              <input type="hidden" name="_method" value="put" />
              <input type="submit" value="Follow">
            </form>
            <form action="/likes/<%= post.id %>" method= "put">
              <input type="submit" value="Like This Post">
            </form>


        </div>
        <div class="col-md-7 move-down">
          <div class="bubble joiner">
            <p>Today be like... <%= post.content %></p>
          </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    <% end %>
  </section>
</div>
