<div class="container">
  <header class="row">
    <h1>TodayBeLike</h1>
  </header>
  <nav class="row">
    <div class="pull-right">
      <a href="/login" class="btn btn-xs btn-success">LogIn</a>
      <a href="/signup"class="btn btn-xs btn-danger">SignUp</a>
      <a href="/profile/:user_id">UserName</a>
    </div>
  </nav>
  <section class="row">

  </section>
  <footer class="row">
  </footers>
</div>
