<form method="post">
       <input type="hidden" name="id" value=<%= item.id %>>
       <input name="_method" type="hidden" value="patch" />
       <input type="submit" class="btn btn-warning" value="Edit">
     </form>