
  <section class="row">
     <% User.find_by_id(@follower_id).user_id.each do |leader|
      panel_colours = ["panel-blue", "panel-yellow", "panel-red", "panel-green", "panel-purple"].sample
      %>
      <div class="<%= panel_colours %>">
        <div class="panel-heading">

          <p><%= leader.username %> says &ldquo;Today be like...&rdquo;</p>
        </div>
        <% if @follower_id == session[:user_id] %>
         <div>
           <form action="/users/<%= leader.id %>" method= "post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Unfollow">
          </form>
         </div>
        <% end %>
     <% end %>
  </section>
