<div class="container">
  <section class="row">
      <% User.find_by_id(@leader_id).followed_id.each do |follower|
      require 'faker'
      %>
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-1 gravatar">
          <img src="<%= Faker::Avatar.image %>" />
          <p> <%= follower.username %></p>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    <% end %>
  </section>
</div>

