<div class="container">
  <section class="row">
    <% User.find_by_id(@follower_id).user_id.each do |leader|
      require 'faker'
      %>
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-1 gravatar">
          <img src="<%= Faker::Avatar.image %>" />
          <p> <%= leader.username %></p>
              <% if @follower_id == session[:user_id] %>
               <form action="/users/<%= leader.id %>" method= "post">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Unfollow">
              </form>
            <% end %>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    <% end %>
  </section>
</div>




