
  <section class="row">
     <% User.find_by_id(@follower_id).user_id.each do |leader|
      panel_colours = ["panel-blue", "panel-yellow", "panel-red", "panel-green", "panel-purple"].sample
      %>
      <div class="<%= panel_colours %>">
        <div class="panel-heading">

          <p><%= leader.username %> says &ldquo;Today be like...&rdquo;</p>
        </div>

    <% end %>
  </section>
