<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>


<br>


<!--   <a method="post" href="/likes/1234">post likes</a> -->
  
  <form><input type="hidden" name="_method" value="post"><a href="/likes/1234">post like</a></form>

  <a href="/likes/">likes</a>
  <form><input type="hidden" name="_method" value="delete"><a href="/likes/1234">delete like</a></form>
</div>