<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>



  <a method="post" href="/users/1234">edit user</a>
<br>

 <form method="post"><a href="/users/">create user</a></form>
<br>

  <a href="/users">users</a>
  <form><input type="hidden" name="_method" value="delete"><a href="/users/1234">delete_user</a></form>
</div>